.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards horizontally */
}

.card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card img {
  width: 100%;
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Ensures images are equally cropped */
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.card button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Makes the button width equal to the card width */
  transition: background-color 0.3s;
}

.removefromcart{
  background-color: #ff4a4a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Makes the button width equal to the card width */
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #45a049;
}
